/****************************************************************************************************

  VistaElevate.rc

****************************************************************************************************/

1 24 "JclNoDepAdmin.manifest"
