/****************************************************************************************************

  VistaElevate.rc

****************************************************************************************************/

1 24 "JclCommCtrlAdmin.manifest"
