/****************************************************************************************************

  VistaElevate.rc

****************************************************************************************************/

1 24 "JclCommCtrlAsInvoker.manifest"
