/****************************************************************************************************

  VistaElevate.rc

****************************************************************************************************/

1 24 "JclNoDepAsInvoker.manifest"
